<div class="row">
    <!-- Left Part Begin -->
    <div id="left_part" class="col-md-3">
        <div class="text-center row">
            <p>关于创享沙龙</p>
        </div>
        <div class="text-center">
            <ul>
                <li>
                    <i class="address card icon"></i>
                    <a href="{:url('index/company/aboutus')}">公司简介</a>
                </li>
                <li style="padding-left: 13px">
                    <i class="user md icon"></i>
                    <a href="{:url('index/company/founder')}">公司创始人</a>
                </li>
                <li>
                    <i class="leaf icon"></i>
                    <a href="{:url('index/company/culture')}">公司文化</a>
                </li>
                <li>
                    <i class="trophy icon"></i>
                    <a href="{:url('index/company/honor')}">公司荣誉</a>
                </li>
                <li>
                    <i class="map marker icon"></i>
                    <a href="{:url('index/company/address')}">公司地址</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- Left Part End -->