<header id="zc_about_header">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-7 col-xs-7 col-lg-7 col-sm-7">
                <div class="row">
                    <img src="/static/images/login_header_logo.png" alt="创享公司logo" class="img-responsive">
                    <strong>创享沙龙</strong>
                </div>
            </div>

            <div class="col-md-3 col-xs-3 col-lg-3 col-sm-3">
                <div id="zc_aboutus_welcome">
                    <i class="smile icon"></i>
                    <span>
                        欢迎访问关于我们页面
                        <a href="{:url('index/index')}" class="text-muted">返回首页</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>