<footer id="zc_about_footer">
    <div id="zc_about_footer_introduce">
        <div class="container">
            <div class="row  text-center">
                <div class="col-md-3">
                    <img src="/static/images/labor.png" style="display: inline-block" alt="" height="65px" class="img-rounded">
                    <span>
                            <strong>人性服务 尊享未来</strong>
                        </span>
                </div>
                <div class="col-md-3">
                    <img src="/static/images/setting.png" style="display: inline-block" alt="" height="65px" class="img-rounded">
                    <span>
                            <strong>
                                人才众多 创建未来
                            </strong>
                        </span>
                </div>
                <div class="col-md-3">
                    <img src="/static/images/task.png" style="display: inline-block" alt="" height="65px" class="img-rounded">
                    <span>
                            <strong>
                                业务精炼 保证质量
                            </strong>
                        </span>
                </div>
                <div class="col-md-3">
                    <img src="/static/images/daily-report.png" style="display: inline-block" alt="" height="65px" class="img-rounded">
                    <span>
                            <strong>
                                友好招商 开拓未来
                            </strong>
                        </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-4">
                <div class="links">
                    <a rel="nofollow" target="_blank" href="{:url('index/company/aboutUs')}">
                        关于我们
                    </a>
                    |
                    <a rel="nofollow" target="_blank" href="{:url('index/company/contactUs')}" style="outline: rgb(109, 109, 109) none 0px;">
                        联系我们
                    </a>
                    |
                    <a rel="nofollow" target="_blank" href="{:url('index/company/profile')}">
                        公司简介
                    </a>
                    |
                    <a target="_blank" href="{:url('index/company/links')}">
                        友情链接
                    </a>
                    |
                    <a target="_blank" href="{:url('index/company/team')}">
                        技术团队
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>