<footer id="zc_footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-3 footer_website">
                <h4>网站导航</h4>
                <ul>
                    <li>入驻空间</li>
                    <li>咨询政策</li>
                    <li>关于空间</li>
                </ul>
            </div>
            <div class="col-md-3 footer_link">
                <h4>友情链接</h4>
                <ul>
                    <li>XXXXXXXXXX</li>
                    <li>XXXXXXXXXX</li>
                    <li>XXXXXXXXXX</li>
                    <li>XXXXXXXXXX</li>
                    <li>XXXXXXXXXX</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 footer_contact">
                <h4>联系我们</h4>
                <ul>
                    <li>工作时间:9:00 - 18:00</li>
                    <li>座机:021-888888888</li>
                </ul>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 footer_detail">
                <h4>上海市XXXX有限公司</h4>
                <ul>
                    <li>地址:上海市浦东新区纳贤路800号</li>
                    <li>增值电信业务经营许可证:沪B2-20080224</li>
                    <li>
                        <img src="/static/images/encroll.png" alt="">
                        沪公网安备 33010002000078号
                    </li>
                    <li>
                        互联网信息举报邮箱:blxxjb@163.com
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>